.card {
	background-color: hsla(0, 100%, 100%, 0.1);
}

.card .img-fluid {
	max-height: 150px;
}

.card .fake-img {
	height: 150px;
	width: 109px;
	background-color: #999999;
}

.card .rank {
	color: #dc3545;
	font-weight: bold;
}

.card .card-title {
	font-size: 1.125rem;
}
