{% extends 'base.html.twig' %}
{% import "macros/_seriesCard.html.twig" as _ %}

{% block body %}
<main class="container" data-controller="filter">
    <section class="row justify-content-center mb-4">
        <div class="input-group">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
            <input type="search" class="form-control" placeholder="Rechercher une série" data-action="filter#search" data-filter-target="search"/>
        </div>
    </section>

    <section class="row mb-4">
        <div class="col d-flex justify-content-end">
            <button type="button" class="btn btn-outline-secondary" data-action="filter#toggleSeen" data-filter-target="seen">
                Séries vues
            </button>
        </div>
        <div class="col d-flex justify-content-start">
            <button type="button" class="btn btn-outline-secondary" data-action="filter#toggleToWatch" data-filter-target="toWatch">
                Séries à voir
            </button>
        </div>
    </section>

    <section class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-3 mb-5">
        {% for seriesElmt in series %}
            {{ _.seriesCard(seriesElmt) }}
        {% endfor %}
    </section>

    {% if seriesUnranked is not empty %}
    <section class="row">
        <h4 class="text-muted mb-0">Non-classées</h4>

        <section class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-3">
            {% for seriesElmt in seriesUnranked %}
                {{ _.seriesCard(seriesElmt, false) }}
            {% endfor %}
        </section>
    </section>
    {% endif %}

    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast" role="alert">
            <div class="toast-header">
                <div class="rounded me-2" id="toastColor"></div>
                <strong class="me-auto" id="toastTitle"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="toastBody"></div>
        </div>
    </div>
</main>
{% endblock %}
