{% extends 'base.html.twig' %}
{% import "macros/_seriesCard.html.twig" as _ %}

{% block body %}
<main class="container" data-controller="filter">
    <section class="row row-cols-6 justify-content-center mb-4">
        <div class="col">
            <button type="button" class="btn btn-outline-secondary" data-action="filter#toggleSeen" data-filter-target="seen">
                Séries vues
            </button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-secondary" data-action="filter#toggleToWatch" data-filter-target="toWatch">
                Séries à voir
            </button>
        </div>
    </section>

    <section class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-3 mb-5">
        {% for seriesElmt in series %}
            {{ _.seriesCard(seriesElmt) }}
        {% endfor %}
    </section>

    <section class="row">
        <h4 class="text-muted mb-0">Non-classées</h4>

        {% if seriesUnranked is empty %}
            <p class="font-italic text-muted mt-3">Aucune série à afficher.</p>
        {% else %}
            <section class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-3">
                {% for seriesElmt in seriesUnranked %}
                    {{ _.seriesCard(seriesElmt, false) }}
                {% endfor %}
            </section>
        {% endif %}
    </section>
</main>
{% endblock %}
