body {
	min-height: 100vh;
	background-image: linear-gradient(to bottom right, #fad0c4 0%, #ffd1ff 100%);
	background-repeat: no-repeat;
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-family: $font-family-sans-serif;
}
