body {
	min-height: 100vh;
	background-image: linear-gradient(to bottom right, #C6FFDD 0%, #FBD786 50%, #F7797D 100%);
	background-repeat: no-repeat;
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-family: $font-family-sans-serif;
}
